<div class="row m-5 justify-content-center">
  <div class="col-md-6 m-5">
    <div class="card jh-card m-5">
      <h2 id="page-heading" data-cy="ContactHeading">
        <span jhiTranslate="generalDashboardApp.generalServiceContact.home.title">Contacts</span>
      </h2>
      <div class="card-body">
        Email: <strong>support@jojoaddison.net</strong>
        <br>
        Mobile: <strong>+233 242 286 304</strong>
        <br>
        Office: <strong>+233 302 717 577</strong>
      </div>
    </div>

  </div>
</div>