
iframe {
    min-height: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border: none;
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }
}
.btn {
    text-align: left !important;
}